@font-face {
  font-family: "Playwrite DE Grund";
  src: url('assets/PlaywriteDEGrund-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

:root {
  --box-hover: #CCD5AE;
  --light-brown: #FAEDCD;
  --licorice: #14080E;
  --olive: #ACC196;
  --vanilla: #E9EB9E;
  --dark-brown: #d4a373;
  --text-fill: #3a5a40;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: fit-content;
  min-width: fit-content;
}

html {
  position: relative;
  font-family: "Playwrite DE Grund", sans-serif;
}

body {
  background-color: var(--light-brown);
  min-height: 100vh;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}

.border {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 5px solid var(--licorice);
}

.gameState {
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 90px;
  font-size: 50px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: min(80px, 40%);
}

.gameboard {
  box-sizing: content-box;
  border: 5px solid var(--dark-brown);
  border-radius: 20px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 0px 10px;
  width: fit-content;
  height: fit-content;
}

.game-box {
  width: 150px;
  height: 150px;
  border-bottom: 4px solid var(--olive);
  border-right: 4px solid var(--olive);
  font-size: 90px;
  color: var(--text-fill);
  text-align: center;
  line-height: 150px;
  user-select: none;
}

.game-box:nth-child(3n) {
  border-right: none;
}

.game-box:nth-child(n+7) {
  border-bottom: none;
}

.game-box:hover {
  background-color: var(--box-hover);
  box-shadow: inset 0px 0px 20px var(--light-brown);
}

.game-box:hover:nth-child(1) {
  border-top-left-radius: 15px;
}

.game-box:hover:nth-child(3) {
  border-top-right-radius: 15px;
}

.game-box:hover:nth-child(9) {
  border-bottom-right-radius: 15px;
}

.game-box:hover:nth-child(7) {
  border-bottom-left-radius: 15px;
}
